<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- SEO Meta Tags -->
    <title>{{ page.title }}{% if page.title %} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
    <meta name="author" content="{{ site.author }}">
    
    <!-- Open Graph / Social Media -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/assets/melheffe-logo.png{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/assets/melheffe-logo.png{% endif %}">
    
    <!-- Styles -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    
    <!-- Custom CSS for Vertical Centering -->
    <style>
        .vertical-center-wrapper {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        .vertical-center-content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer {
            flex-shrink: 0;
        }
    </style>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="icon" href="/assets/favicon.ico">
    
    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="aCaXJP58ozMOK1M0ku948pFU2ZpQusAKERF2-Cuhp0A">
    
    <!-- HTML5 Shim and Respond.js IE8 support -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container vertical-center-wrapper">
        <div class="vertical-center-content">
            {{ content }}
        </div>
        
        <footer class="footer">
            {% include footer.html %}
        </footer>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
